[submodule "front_mobile"]
	path = Mobile
	url = https://github.com/Lilian-Mahut/reactNative_goazen.git
	branch = main

[submodule "front_desktop"]
	path = Desktop
	url = https://github.com/Lilian-Mahut/react_goazen.git
	branch = main

[submodule "back"]
	path = Back
	url = https://github.com/Lilian-Mahut/node_goazen.git
	branch = main
