[submodule "front_mobile"]
	path = mobile
	url = https://github.com/Lilian-Mahut/reactNative_goazen.git
	branch = main

[submodule "back"]
	path = back
	url = https://github.com/Lilian-Mahut/node_goazen.git
	branch = main
	
[submodule "react_goazen"]
	path = desktop
	url = https://github.com/Lilian-Mahut/react_goazen.git
